.event-container {
  background-color: #464545;
  border-radius: 25px;
  color: white;
  margin-bottom: 10px;
  padding: 10px 20px; /* Adjusted padding to reduce space */
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer; /* Add this line */
}

.event-details {
  flex-grow: 1;
}

.event-time, .event-title, .event-host, .event-location, .event-registration, .event-tags {
  font-size: 18px;
  margin-bottom: 5px;
  color: #B9B9B9;
}

.event-time {
  margin-top: 0; /* Ensure no top margin */
  padding-top: 0; /* Ensure no top padding */
}

.event-title {
  font-weight: bold;
  font-size: 28px;
  overflow-wrap: break-word;
  color: #FFFFFF; /* Set color to white */
}

.event-host, .event-location, .event-registration, .event-tags {
  display: flex; /* Ensure flexbox for alignment */
  align-items: center; /* Align items vertically */
  margin-bottom: 0px;
  margin-top: 0px; /* Ensure no top margin */
  padding-top: 0px; /* Ensure no top padding */
}

.event-location {
  margin-bottom: 0; /* Reduce bottom margin */
  padding-bottom: 0; /* Reduce bottom padding */
}

.event-host {
  margin-top: 5px; /* Add a bit of space above the registration status */
  margin-bottom: 0; /* Reduce bottom margin */
  padding-bottom: 0; /* Reduce bottom padding */
}

.event-registration {
  margin-top: 5px; /* Add a bit of space above the registration status */
  margin-bottom: 0; /* Reduce bottom margin */
  padding-bottom: 0; /* Reduce bottom padding */
}

.event-image img {
  width: 150px; /* Increased width */
  height: 150px; /* Increased height */
  object-fit: cover;
  border-radius: 15px;
  margin-right: 10px; /* Increased right margin for more space */
}

.host-logo, .location-logo, .registration-logo {
  width: 16px;
  height: 20px;
  margin-right: 10px; /* Increased right margin for more space */
  vertical-align: text-top; /* Align logos vertically with text */
  margin-bottom: 7px;
}

.event-host .host-logo, .event-location .location-logo, .event-registration .registration-logo {
  margin-right: 10px !important; /* Adjust margin as needed */
}
