/* MobileButton.css */
.mobile-button-container {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  width: 100%;
  max-width: 600px; /* Optional: limit the max width to prevent excessive stretching */
  padding: 0 10px;
  gap: 10px; /* Add space between the buttons */
}

.mobile-button {
  background-color: #464545;
  border-radius: 20px;
  padding: 8px; /* Reduced padding to make the button smaller */
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1; /* Allow buttons to grow equally */
  max-width: 80px; /* Limit the max width for buttons */
}

.mobile-timeline-container {
  background-color: #464545;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px; /* Increase the size of the middle button */
}
