.filter-button-container {
    display: inline-block;
    position: relative;
}

.mobile-filter-button {
    background-color: #3D3C3C;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 65px;
    height: 65px;
}

.mobile-filter-button:hover {
    background-color: #464545;
}

.filter-icon {
    width: 50px;
    height: 50px;
}

.filter-options-container {
    padding: 20px;
    color: white;
    background-color: #323131; /* Set the background color of the drawer */
    height: 100%; /* Ensure the filter options container covers the full height */
}

.filter-group {
    margin-bottom: 15px; /* Reduced spacing between filter groups */
}

.filter-group h4 {
    margin-bottom: 5px; /* Reduced space below the heading */
    margin-top: 0; /* Remove space above the heading */
    padding: 0; /* Ensure no padding around the heading */
    font-size: 18px; /* Increased font size for the section titles */
    color: #FFFFFF;
}

.dropdown-item {
    padding: 8px 15px; /* Reduced padding for less space between options */
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-item:hover {
    background-color: #3b3b3b;
}

.dropdown-item.selected {
    font-weight: bold;
}

.checkmark {
    font-size: 14px;
    margin-left: 10px;
    color: #FFFFFF;
}

.custom-close-button {
    position: absolute;
    top: 20px; /* Adjusted the position lower */
    right: 20px; /* Adjusted the position to the right */
    background: none;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
    padding: 0;
}
