/* MobileTimeline.css */
.mobile-timeline-container {
  display: flex;
  align-items: center;
  background-color: #464545;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 220px; /* Set a fixed width for the middle button */
}

.mobile-arrow {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.mobile-timeline-text {
  flex: 1;
  text-align: center;
  color: white;
  font-size: 16px;
}

.mobile-timeline-today {
  font-weight: bold;
}

.mobile-timeline-day {
  font-weight: normal;
}

.timeline-button-container {
  display: inline-block;
}
