/* MobileDatePickerButton.css */
.mobile-date-picker-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px; /* Ensure the button is square */
  padding: 0;
  margin: 0;
}

.calendar-icon {
  width: 80%;
  height: 80%;
}

.date-picker-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #464545;
  border-radius: 20px;
  width: 65px;
  height: 65px; /* Ensure the container is square */
}
