/* MobileDatePickerButton.css */
.mobile-date-picker-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px; /* Ensure the button is square */
  padding: 0;
  margin: 0;
  background-color: #3D3C3C;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.calendar-icon {
  width: 100%;
  height: 100%;
}

.date-picker-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #464545;
  border-radius: 20px;
  width: 65px;
  height: 65px; /* Ensure the container is square */
}

.mobile-date-picker-button:hover {
  background-color: #464545;
}
