/* MobileHeader.css */
@media (max-width: 768px) {
    .background-image {
      height: 150px;
      background-image: none; /* Remove background image on mobile */
    }
    
    .header-logo {
      max-height: 50px; /* Make the logo even smaller on mobile */
    }
    
    .subscribe-banner {
      display: flex;
      flex-direction: row; /* Keep items in a row even on mobile */
      padding: 10px 5px;
      min-width: 100vw !important; /* Ensures full width of mobile screen */
      width: 300px;
      justify-content: center; /* Center the content */
      align-items: center; /* Vertically center the content */
    }
    
    .subscribe-icon {
      width: 20px;
      height: 20px;
    }
    
    .subscribe-link {
      color: white;
      text-decoration: none;
      font-size: 16px;
      display: flex;
      align-items: center;
    }
    
    .subscribe-text {
      font-weight: bold;
      text-decoration: underline;
    }
    
    .subscribe-link:hover .subscribe-text {
      text-decoration: underline;
    }
    
    .add-event-text {
      display: none; /* Hide text on mobile */
    }
    
    .add-event-icon {
      display: inline; /* Show only the + icon on mobile */
      font-size: 30px; /* Increase the size of the + icon */
    }
    
    .add-event-button {
      display: none !important; /* Completely remove button on mobile */
    }
    
    .add-event-text {
      display: none; /* Hide text on mobile */
    }
    
    .add-event-icon {
      display: none; /* Hide the + icon on mobile */
    }
    
    .mobile-header {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      background-color: #2F2E2E;
      width: 100vw; /* Ensure it takes the full width of the viewport */
      box-sizing: border-box; /* Include padding and border in the element's total width and height */
    }
  }
  