/* src/styles/Summary.css */
#summary {
  padding: 20px;
  background-color: #2F2E2E;
  border-radius: 20px; /* Corner Rounding */
  box-shadow: inset 0 0 0 5px #4F4D4D; /* Border Size */
  margin: 10px auto; /* Center the summary and apply vertical margins */
  max-width: 800px; /* Ensure max width to line up with other components */
  width: calc(100% - 40px); /* Ensure it takes full width of the parent with respect to padding */
  position: relative;
}

.summary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Take up the entire width of the summary section */
}

.summary-numbers-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summary-et-numbers {
  font-weight: bold;
  font-size: 2rem;
  color: #fff;
}

.summary-et-titles {
  font-size: 1rem;
  color: #fff;
}

.sponsored-event {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.left-logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.custom-divider {
  background-color: #fff;
  width: 100%;
  height: 2px; /* Adjust height for thicker divider */
}
