/* App.css */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #2F2E2E;
  color: #fff;
}

.main-content {
  display: flex;
  padding: 0 20px;  /* Adjust the padding value to increase/decrease spacing */
}

.background-image {
  position: relative;
  width: 100vw; /* Ensure it takes the full width of the viewport */
  height: 255px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.header-logo {
  max-height: 85px;
  z-index: 10;
}

.main-content {
  display: flex;
}

.left-content {
  width: 66.67%;
  padding: 20px;
}

.right-content {
  width: 33.33%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px; /* Add gap between DatePickerComponent, Summary, and MapComponent */
}

.mobile-button-container {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  width: 100%;
  max-width: 600px; /* Optional: limit the max width to prevent excessive stretching */
  gap: 10px; /* Add space between the buttons */
}

.mobile-button {
  background-color: #464545;
  border-radius: 20px;
  padding: 8px; /* Reduced padding to make the button smaller */
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1; /* Allow buttons to grow equally */
  max-width: 80px; /* Limit the max width for buttons */
}


 /* Drawer Container Logic */
 .drawer-container {
  position: relative;
}

.drawer-container.open .mobile-event-drawer {
  transform: translateX(0);
}